@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: #09101D;
  --secund-color: #19223D;
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: var(--secund-color);
  color: white;
  padding: 20px;
  border-radius: 10px;
}

li{
  font-size: 1.5em;

}

.apagar{
  font-size: 0.7em;
  color: white;
  background-color: rgb(227, 68, 68);
  border-radius: 6px;
  line-height: 1.5em;
}

.input-nova-tarefa{
  width: 300px;
  height: 30px;
  font-size: 1.3em;
  border-radius: 8px;
}

.btn-add-tarefa{
  background-color: #274980;
  color: white;
  height: 31px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 700;
  border: none;
} 
.btn-add-tarefa:hover{
  background-color: #3c57a2;
  transform: translate(0.7px, 0.7px);
  transition: background-color 190ms;
}








